<%- include('partials/header') %>




<div class="container">
      <i class="fas fa-exclamation fa-6x"></i>&Tab;&Tab;<i class="fas fa-exclamation fa-6x"></i>&Tab;&Tab;<i class="fas fa-exclamation fa-6x"></i>
      <h1 class="second-heading">Hold on</h1>
      <p class="text">Looks like this account is already registered.</p>
   
  
      <a href="/login" role="button" class="button btn btn-outline-info btn-lg btn-block fw-bold">Login</a>
    
</div>

<%- include('partials/footer') %>
